@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@font-face {
    font-family: 'PTSans-Narrow';
    src: url('../fonts/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),  
            url('../fonts/PTSans-Narrow.woff') format('woff'), 
            url('../fonts/PTSans-Narrow.ttf')  format('truetype'), 
            url('PTSans-Narrow.svg#PTSans-Narrow') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrultralight';
    src: url('../fonts/8744-webfont.eot');
    src: url('../fonts/8744-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/8744-webfont.woff2') format('woff2'),
         url('../fonts/8744-webfont.woff') format('woff'),
         url('../fonts/8744-webfont.ttf') format('truetype'),
         url('../fonts/8744-webfont.svg#helveticaneuecyrultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/8744-webfont.eot');
    src: url('../fonts/8744-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/8744-webfont.woff2') format('woff2'),
         url('../fonts/8744-webfont.woff') format('woff'),
         url('../fonts/8744-webfont.ttf') format('truetype'),
         url('../fonts/8744-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
p, ul {
    margin: 0;
}
body {
    background-color: #D3D3D3;
    color: #25262a;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}
h1, h2, h3, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
h3 {
    font-size: 30px;
    letter-spacing: 2px;
    padding: 20px 0 15px;
    text-align: center;
}
h4 {
    font-size: 22px;
    line-height: 40px;
    padding: 30px 30px 15px;
}
section {
	padding: 22px 0;
    min-height: 100vh;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
hr {
    border-color: #777;
	width: 100%;
	background-color:#000000;
	opacity:1;
    text-align: center;
}
fieldset { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
hr.style-wedd::after  {
    background: rgba(255, 220, 237, 1) none repeat scroll 0 0;
    color: #de2e9f;
    content: "♥";
    display: inline-block;
    font-size: 1em;
    padding: 0 0.25em;
    position: relative;
    top: -0.7em;
}
hr.style-wedd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid;
    border-top: 2px solid;
    color: #de2e9f;
    height: 8px;
    margin: 42px 0;
    padding: 0;
}

hr.style-prod::after {
    background-color: rgba(216, 229, 245, 1);
    background-image: url("../images/camera.png");
    background-position: 2px 0;
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
    display: inline-block;
    font-size: 18px;
    height: 22px;
    padding: 0 7px;
    position: relative;
    top: -17px;
    width: 35px;
}
hr.style-prod {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #003399;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 2px;
    color: #003399;
    height: 8px;
    margin: 42px 0;
    padding: 0;
}
hr.style-event::after {
    background: #f3e0a5 none repeat scroll 0 0;
    color: #caa748;
    content: "✦";
    display: inline-block;
    font-size: 1em;
    position: relative;
    top: -18px;
    width: 25px;
}
hr.style-event {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #caa748;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 2px;
    color: #caa748;
    height: 8px;
    margin: 42px 0;
    padding: 0;
}


a, a:active, a:hover, a:focus {
    color: white;
    text-decoration: none!important;
}
li {
    list-style: outside none none;
}

h1 {
    font-family: "PT Sans",arial;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 60px;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}
.container h2 {
    font-family: "PT Sans",arial;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.23;
    padding: 28px 0 32px;
    text-align: center;
}
.menu_main .container {
    width: 100%;
}
p strong {
  font-family: helveticaneuecyrultralight, sans-serif;
  font-weight: normal;
}

header, footer {
    text-align: center;
    width: 100%;
    z-index: 7;
}
header {
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: background, transform;
    transition-timing-function: ease;
}
.page-content {
    min-height: 100vh;
    background-color: lightgray;
}
footer {
    background-color: black;
    bottom: 0;
    float: left;
    min-height: 160px;
}
footer p {
    color: #777;
    font-size: 15px;
    margin: 4px auto 0;
    max-width: 760px;
    text-align: center;
}
footer ul {
    line-height: 35px;
}
footer .klimov {
    color: #777;
    margin: 4px auto 20px;
}
.font-fantasy {
    font-family: Arial, Helvetica, sans-serif;
}
#logomonte {
    margin-top: 0px;
}
.margined-13 {
    margin-top: 13px;
}
.fix-top {
    height: 30px;
    width: 100%;
}
#search-input {
    z-index: 2;
    color: black;
    opacity: 0;
}
.visible-effect {
    opacity: 1;
    visibility: visible;
}
.top-links {
    top: 9px;
    padding-top: 32px;
}
.top-links a:hover {
    color: white;
    /* opacity: 1; */
}
.top-links form {
    position: static;
    margin-top: -10px;
}
#logomonte {
    padding: 21px 5px 0;
    height: 100px;
}
#logomonte a {
    font-family: helveticaneuecyrroman,sans-serif;
    font-size: 21px;
}
.triangle {
    padding: 10px;
    background: url(../images/triangle-down-white.png) no-repeat center 5px transparent;
    height: 41px;
    opacity: 0;
}
#tri {
    top: -50px;
}
#animate2 {
    position: relative;
    height: 100px;
}
.directions_dropdown {
    border-radius: 5px;
    height: 300px;
    width: 650px;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: -300px;
    left: calc(50% - 323px);
    margin: 0 auto;
    opacity: 0;
}
nav {
    backface-visibility: hidden;
    display: block;
    list-style: outside none none;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in-out 0s;
}
nav.reduced {
    padding: 0.5rem 0;
}
.main_directions {
    overflow: hidden;
}
.dir_logo_prod_header,
.dir_logo_event_header,
.dir_logo_wedd_header {
    float: left;
    width: 33%;
    min-height: 140px;
    opacity: 0;
    margin: 40px 0px;
}
.dots {
    top: 0px;
    opacity: 1;
    transition: all .2s ease-in-out;
    line-height: 1;
    width: auto;
    fill: white;
    vertical-align: middle;
    border: none;
    outline: none;
    background-color: transparent;
    height: 20px;
    padding: 0 12px;
}
.dots .dots-size {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
#menu1 {
    padding: 2px 10px;
    background-color: transparent;
    border: 0px solid;
}
.dropdown-menu {
    padding: 10px 0!important;
}
.dropdown-menu>li>a {
    color: white!important;
}
#header-search-button, #search-input, .search-result-panel {
    position: absolute;
    left: 100px;
}
#header-search-button {
    z-index: 3;
    padding: 8px 12px;
    color: rgb(225,225,225);
}
.dots ul {
    left: inherit;
    width: auto;
    height: auto;
    /* -webkit-transform: scale(1) translate(0); */
    /* -webkit-transform: scale(.8) translate(-10%,-10%); */
    /* -webkit-transform: scale(.85) translateY(-10%); */
    /* transform: scale(1) translate(0); */
    /* transform: scale(.85) translateY(-10%); */
    /* transform: scale(.8) translate(-10%,-10%); */
    position: absolute;
    border: 0px solid;
    top: 45px;
    right: 80px;
    background-clip: padding-box;
    background-color: #000;
    box-shadow: 7px 7px 26px #333;
    transition: all .25s cubic-bezier(.24,.22,.015,1.56),opacity .1s ease-in-out;
    z-index: 5;
    text-align: left;
}

.dir_logo_prod, .dir_logo_prod_header {
    background: rgba(0, 0, 0, 0) url("../images/logo/LOGO_MEDIA.svg") no-repeat scroll center center / contain ;
}
.dir_logo_wedd, .dir_logo_wedd_header {
    background: rgba(0, 0, 0, 0) url("../images/logo/LOGO_E_and_W.svg") no-repeat scroll center center / contain ;
}
.dir_logo_prod_header {
    left: 95px;
}
.dir_logo_event_header {
}
.dir_logo_wedd_header {
    right: 95px;
}

.mobile_directions {    
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.mobile_directions a {
    color: inherit;
    display: block;
    height: 180px!important;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
}
.mobile_directions a:hover {
    opacity: 1;
}

.layer-on-top {
    background-color: black;
    float: left;
    height: 29vh;
    opacity: 0.55;
    width: 500px;
}
.mobile_directions h2 {
    background: rgba(5, 2, 2, 0.5) none repeat scroll 0 0;
    color: white;
    height: 100%;
    line-height: 160px;
    font-size: 1.8rem;
}

#video > .mob_photo,
#video > .dir_photo {    
	background-image: url("../images/background/video_production_new.jpg");
}
#video > .mob_photo {
    background-position: 40% 45%;
}
#event > .mob_photo,
#event > .dir_photo {
	background-image: url("../images/background/event_new.jpg");
}
#event > .mob_photo {
    background-position: 41% 5%;
}
#wedd > .mob_photo,
#wedd > .dir_photo {
	background-image: url("../images/background/wedding_new.jpg");
}
#wedd > .mob_photo {
    background-position: 64% 58%;
}
.dir_photo {
    display: block;
    height: 100vh;
	background-position: 32%;
	-webkit-background-size: cover;
	background-size: cover;
}
.grid figure {
    background: #3085a3 none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}


.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure figcaption h2 {
    color: black;
    font-family: helveticaneuecyrroman,sans-serif;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24vw;
    height: 24vw;
    top: calc(50% - 12vw);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    vertical-align: middle;
}
.dir_logo_wedd_figure, dir_logo_prod_figure {
    top: calc(50% - 12vw);
    margin: 0 auto;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*---------------*/
/***** Lily *****/
/*---------------*/
figure.effect-lily img {    
    height: 100vh;
    left: auto;
    margin: auto;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    width: auto;
}

figure.effect-lily figcaption {
    color: #000;
    left: 4.5vw;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: calc(50% - 9vw);
    height: 24vw;  width: 24vw;
}
.figurecircle {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 50%;
    height: 24vw;  width: 24vw;
    left: 4.5vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: calc(50% - 12vw);

    transform: scale3d(5, 5, 1);
    transition: transform 0.35s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, background-color 0.35s, background-image 0.35s;
}
figure.effect-lily h2,
figure.effect-lily p {
	opacity: 0;
}

figure.effect-lily h2 {
    font-family: helveticaneuecyrroman,sans-serif;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24vw;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

figure.effect-lily p {
    color: rgba(101, 99, 101, 0.8);
    opacity: 0;
    transition-delay: 0s, 0s;
    transition-duration: 0.2s, 0.35s;
    transition-property: opacity, transform;
    transition-timing-function: ease, ease;    
	padding-top: 50px;
	
	font-family: "PT Sans",serif;
    
    font-size: 0.5em;
    font-weight: normal;
    font-style: normal;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    opacity: 1;
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
.scale-effect {
    transform: scale3d(1, 1, 1);
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    transition: transform 0.35s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, background-color 0.35s, background-image 0.35s;
}
.hover-opacity {
    opacity: 1;
}
.hover-gray {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .4));
	background-image: -o-linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .4));
	background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .4));    
	height: 100%;
    width: 100%;
}
.zoom-effect {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(1,0,0,.5); 
	will-change: transform, opacity;
}
@-webkit-keyframes zoomIn {
  0% {
  }
  100% {
	-webkit-transform: scale3d(1.1, 1.1, 1.0);
	transform: scale3d(1.1, 1.1, 1.0);
  }
}
@keyframes zoomIn {
  0% {
  }
  100% {
	opacity: 1;
	-webkit-transform: scale3d(1.1, 1.1, 1.0);
	transform: scale3d(1.1, 1.1, 1.0);
  }
} 
.zoom-out-effect {
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(1,0,0,.5); 
	will-change: transform, opacity;
}
@-webkit-keyframes zoomOut {
  0% {
  }
  100% {
	opacity: 0;
	-webkit-transform: scale3d(0.9, 0.9, 1.0);
	transform: scale3d(0.9, 0.9, 1.0);
  }
}
@keyframes zoomOut {
  0% {
  }
  100% {
	z-index: 8;
	opacity: 0;
	-webkit-transform: scale3d(0.9, 0.9, 1.0);
	transform: scale3d(0.9, 0.9, 1.0);
  }
} 
/*-----------------*/
/***** Steve *****/
/*-----------------*/

figure.effect-steve {
	z-index: auto;
	overflow: hidden;
	background: #000;
}

figure.effect-steve:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #000;
	content: '';
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-steve:before {
	box-shadow: 0 3px 30px rgba(0,0,0,0.8);
	opacity: 0;
}

figure.effect-steve figcaption {
	z-index: 1;
}

figure.effect-steve img {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
	-webkit-background-size: cover;
	background-size: cover;
    background-position: 32% 100px;
}

figure.effect-steve h2,
figure.effect-steve p {
    opacity: 0;
}

figure.effect-steve h2 {
	position: relative;
	margin-top: 2em;
	padding: 0.25em;
}

figure.effect-steve h2:before {
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.effect-steve p {
	margin-top: 1em;
	padding: 0.5em;
	font-weight: 800;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(0.9,0.9,1);
	transform: scale3d(0.9,0.9,1);
}

figure.effect-steve:hover:before {
	opacity: 1;
}

figure.effect-steve:hover img {
	-webkit-transform: perspective(1000px) translate3d(0,0,21px);
	transform: perspective(1000px) translate3d(0,0,21px);
}

figure.effect-steve:hover h2 {
	opacity: 1;
}

figure.effect-steve:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
.modal {
    top: 5%;
    left: 50%;
    bottom: auto;
    right: auto;
    z-index: 1050;
    padding: 0;
    width: 500px;
    margin-left: -250px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    overflow: unset;
}
.modal-header {
    border: 0px solid;    
    min-height: 0;
}
.modal-body {
    padding: 0px;
}
button.close  {
    background-color: white;
    border-radius: 0;
    height: 25px;
    opacity: 0.4;    
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}
button.close-small {
    background-color: white;
    border: 0px solid;
    color: #000;
    float: right;
    font-size: 30px;
    font-weight: 700;
    height: 30px;
    line-height: 1;
    opacity: 1;
    position: absolute;
    right: 100px;
    top: 10px;
    width: 30px;
    padding: 0px;
}
/*---------------*/
/****** Owl ******/
/*---------------*/

.prod_galery, .event_galery, .wedd_galery {
    padding: 0;
}
.prod_galery {
    background-color: #d8e5f5;
}
.wedd_galery {
    background-color: #FFDCED;
}
.event_galery {
    background-color: #f3e0a5;
}
.prod_galery > #carousel-monte {
    background-color: rgba(216, 229, 245, 1);
}
.event_galery > #carousel-monte {
    background-color: #F3E0A5;
}
.wedd_galery > #carousel-monte {
    background-color: rgba(255, 220, 237, 1);
}

#carousel-monte, #fotoblock-2, #fotoblock-3 {
    padding: 0;
}

#carousel-monte {
    padding: 0 0 22px;
}

#carousel-monte .item,  #fotoblock-2 .item, #fotoblock-3 .item {
    color: #fff;
    display: block;
    height: 515px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}
#fotoblock-2 .item, #fotoblock-3 .item, #fotoblock-6 .item {
    color: #fff;
    display: block;
    height: 600px;
    position: relative;
    text-align: left;
}
.prod_galery #fotoblock-2 .item, 
.prod_galery #fotoblock-3 .item,
.prod_galery #fotoblock-4 .item,
.wedd_galery #fotoblock-2 .item img, 
.wedd_galery #fotoblock-3 .item img,
.event_galery #carousel-monte .item, 
.wedd_galery #fotoblock-4 .item img {
    height: 515px;
}
.same_galery .item img {
    height: 515px;
    width: 450px;
}
.img_inline {
    height: 515px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.owl-item .item {
    position: relative;
    margin: 0 auto;
}
.owl-item .item img {
   display: block;
   margin: 0 auto;
}
.prod_galery figcaption, .event_galery figcaption, .wedd_galery figcaption, .about_galery figcaption {
    background-color: black;
    font-size: 22px;
    height: 100px;
    line-height: 32px;
    padding: 9px 30px;
    position: absolute;
    top: 515px;
    width: 100%;
}
/*
.about_galery figcaption, #fotoblock-6 figcaption {
    background-color: black;
    bottom: 0;
    font-size: 20px;
    font-weight: 300;
    height: 85px;
    line-height: 1.6;
    margin: 0;
    padding: 20px 30px;
    position: absolute;
    width: 101%;
}*/
.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
 
.owl-theme .owl-buttons i{
  margin-top: 2px;
}
 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

/*---------------*/
/**** Секции ****/
/*---------------*/

.uptitle {
    display: block;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 50px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.devide-block {
    height: 30vh;
}
.about-block {
    height: 100%;
    text-align: center;
}
.about-block p, .prod_play p {
    font-size: 20px;
    line-height: 2.3;
    padding: 10px 0 12px;
    text-align: justify;
}
.content-panel {
    width: auto;
    background-color: white;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    border: 0px solid;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.about-block li {
    font-size: 22px;
    letter-spacing: 1px;
    padding: 10px 0;
    text-align: left;
    text-transform: uppercase;
}
.about-block .details {
    background: silver none repeat scroll 0 0;
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    padding: 15px 30px;
}
/*---------------*/
/**** WEDDING ****/
/*---------------*/
.wedd_galery h1 {
	text-align: center;
}
.wedd_services {
    list-style: none;
    margin: 0;
}
.wedd_services li {
    margin: 10px 0;
    position: relative;
}
.wedd_services li::before {
    background: #a00062 none repeat scroll 0 0;
    content: "";
    height: 40%;
    left: -20px;
    position: absolute;
    top: 30%;
    width: 3px;
}
.wedd_content {
    background: rgba(255, 220, 237, 1) none no-repeat scroll 0 0;
    font-family: 'PT Sans', arial;
    font-weight: lighter;
    font-size: 26px; 
}
.wedd_content .dir_logo_wedd {
    height: 30vh;
    left: 0;
    margin: 0 auto;
    position: relative;
    right: 0;
    width: 200px;
}

.wedd_heart, .prod_play, .event_party {
    list-style: outside none none;
    margin: 0 0 0 55px;
}
.wedd_heart a, .prod_play a, .event_party a  {
    width: 100%;
    color: #808285;
    text-decoration: none;
    display: inline-block;
    padding-left: 25px;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    position: relative;
    transition: .3s linear;
}
.wedd_heart li, .prod_play li, .event_party li {
    position: relative;
}
.wedd_heart li::before {
    color: #de2e9f;
    content: "♥";
    height: 15px;
    left: -30px;
    position: absolute;
    transition: all 0.4s ease-in-out 0s;
    width: 15px;
    z-index: 2;
}
.wedd_heart li:hover:before {
    left: -20px;
}
/*------------------*/
/**** PRODUCTION ****/
/*------------------*/

.prod_content .dir_logo_prod {
    height: 30vh;
    left: 0;
    margin: 0 auto;
    position: relative;
    right: 0;
    width: 200px;
}

.prod_content {
    background: rgba(216, 229, 245, 1) none no-repeat scroll 0 0;
    font-family: 'PT Sans', arial;
    font-weight: lighter;
    font-size: 26px; 
}
.prod_play li::before {
    background-image: url("../images/camera.png");
    background-position: 0 0;
    background-size: contain;
    color: #003399;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 13px;
    transition: all 0.4s ease-in-out 0s;
    width: 25px;
    z-index: 2;
}
.prod_play li:hover:before {
    left: -30px;
}

.prod_heart li:hover:before {
left: -20px;
}

/*-------------------*/
/******* EVENT *******/
/*-------------------*/
.event_content .dir_logo_wedd, .event_content2 .dir_logo_wedd, .event_content3 .dir_logo_wedd,
.event_content .dir_logo_prod, .event_content2 .dir_logo_prod, .event_content3 .dir_logo_prod {
    margin: 0 auto;
    height: 30vh;
    left: 0;
    position: relative;
    right: 0;
    width: 200px;
}
/*.event_top {
    background: #ffdc33 url("../images/event/bg.jpg") repeat scroll 0 0;
    font-size: 26px;
    font-weight: lighter;
    height: 100vh;
}*/
.event_content, .event_content2, .event_content3 {
    font-family: "PT Sans",arial;
    font-size: 26px;
    font-weight: lighter;
}
.event_content3 {
  /*  background: #e9cd79 url("http://imgview.info/download/20150611/great-gold-wallpapers-1600x1002.jpg") repeat scroll 50% 0 / cover ;*/
    background: #f3e0a5 none repeat scroll 0 0;
}
.event_content2 {
    background: #e9cd79 url("http://www.seccion10.com/wp-content/uploads/2012/12/texturas_8.jpg") repeat scroll 0 0;
}
.event_content {
    background: #e9cd79 url("../images/event/bg-texture.jpg") repeat scroll 0 0;
}
.event_party li::before {
    color: white;
    content: "✦";
    height: 15px;
    left: -40px;
    position: absolute;
    transition: all 0.4s ease-in-out 0s;
    width: 15px;
    z-index: 1;
}
.event_party li:hover:before {
    left: -30px;
}


/*----------------------*/
/**** ABOUT CONTACTS ****/
/*----------------------*/
.about, .about_galery {
    background: lightgray none repeat scroll 0 0;
    padding-bottom: 0;
}
.about_galery #fotoblock-3 .item, .about_galery #fotoblock-4 .item,
.event_galery #fotoblock-2 .item, .event_galery #fotoblock-3 .item, .event_galery #fotoblock-4 .item {
    height: 515px !important;
}


.about .devide-block {
    margin: 50px 0 35px;
}
.about .dir_logo_prod, .about .dir_logo_wedd {
    height: 30vh;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: 0 auto;
    width: 200px;
    position: absolute;
}
.about .dir_logo_prod {
    right: 50%;
}
.about .dir_logo_wedd {
    left: 50%;
}
.about_team {
    background-color: gray;
}
.member span {
    background-color: black;
    color: white;
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding: 30px 30px 15px;
}
.member_photo {
    height: 350px;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
}
.member {
    height: auto;
    padding: 0 30px;
}
.title {
    color: gray;
    font-size: 18px;
    margin: 22px 0 14px;
}
.sitemap_area {
    background-color: #f1f1f1;
    padding: 1em 6em;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.speccards_area {
    height: 1100px;
    background-color: rgba(0,0,0,.05);
    padding: 3em 6em;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.promo-cards {
    float: left;
    height: 200px;
}
.promo-cards span {
    font-size: 1.9em;
    color: #000;
    text-align: center;
    margin-bottom: 0.5em;
}

.sitemap_area a {
    color: black;
    font-size: 18px;
}
.sitemap_area a:hover {
    color: #25262a;
}
.card-img {
    float: left;
    height: 255px;
}
.promoblock_left,
.promoblock_right {
    clear: both;
    margin-bottom: 1.5em;
    display: block;
    background-color: lightgray;
    border-bottom: 8px solid white;
    box-shadow: 5px 15px 35px 0px rgb(160,160,160);{
}
}
.promoblock_left {
    padding: 15px 30px 15px 15px;
    float: left;
}
.promoblock_right {
    padding: 15px 30px 15px 15px;
    float: right;
}
.about address {
    height: 100%;
    width: 100%;
    text-align: center;
}
.contacts {
    background-color: #a7a7a7;
    font-family: "PT Sans",arial;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 25px 0 0;
    text-align: center;
}
.monte_map {
    border-top: 1px solid #777;
    height: 100%;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.contact-mail a {
    background-color: black;
    border-radius: 50px;
    color: white;
    display: block;
    height: 54px;
    line-height: 48px;
    margin: 0 auto;
    text-transform: none;
    text-decoration: underline!important;
    width: 240px;                                                                                                
}
address div {
    padding: 10px 0;
}
.contact-phone, .contact-mail, .contact-location {
    font-size: 22px;
}
.contact-social {
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 6px;
    padding-top: 7px;
    text-align: center;
    text-transform: uppercase;
}
.socials {
    height: auto;
    text-align: center;
}
.socials li {
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    font-size: 33px;
    height: 55px;
    margin: 10px;
    padding: 1.5% 0 0;
    /*padding: 7px 0 0;*/
    width: 55px;
}
.socials li a {
    color: white;
}
.bot_links {
    color: gray;
    margin: 25px auto 0;
}
.bot_links a {
    color: #e7e7e7;
    padding: 0 15px;
}
.mdc {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 3px solid;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto;
    text-shadow: none;
    width: 300px;
}
.makers {
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    height: 45px;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0 35px;
    text-shadow: none;
    width: 264px;
}

/* directions fix */
.t-align_center {
    text-align: center;
}
.t-cell_1 {
    width: 33%;
}
.t-cell_2 {
    width: 34%;
}
.t-cell_3 {
    width: 33%;;
}
.t-cell {
    display: table-cell;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
}
/* menu fix */
.fix {
    height: 100px;
    background-color: black;
}
.fixmob {
    height: 19px;
}
#preload-close {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: url("../images/close.png");
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    height: 80px;
    width: 80px;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 99;
}
.sublevel {
    margin-left: 5px;
}

#depreload {
    height: 100%;
    width: 100%;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

.wrapper {
	vertical-align: middle;
	opacity: 0;
}

#depreload {
    background-size: cover;
    background-color: #ccc;
    position: fixed;
    text-align: center;
    z-index: 99;
}

#depreload .circle {
	width: 520px;
	height: 520px;
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 50%;
	box-shadow: 0 0 1px 0px rgb(255,255,255);
	margin: 0 auto;
	position: relative;
}

#depreload .line {
	margin: -20px;
	opacity: 0;
}

#depreload .perc {
    color: #fff;
    font-family: "helveticaneuecyrroman", sans-serif;
    font-size: 2.3em;
    font-weight: 100;
    letter-spacing: 6px;
    top: 232px;
    text-transform: uppercase;
}

#depreload .loading {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    top: 360px;
}

#depreload .perc, #depreload .loading {
	position: absolute;
	width: 100%;
}

#depreload #logo {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 139px;
	height: 145px;
	margin-left: -69px;
	margin-top: -72px;
	opacity: 0;
}

.gallery {
	position: absolute;
	width: 100%;
	overflow: hidden;
}
.info-wrapper {
    position: absolute;
}
.monte-full {
    background: white top left;
    height: 100px;
    width: 500px;
    margin: 0 auto;
}
.monte-full img {
    height: 100px;
}
.menu_main {
    background-color: black;
    height: 100px;
    margin: 0px;
    text-align: center;
} 
.menu_main ul {
    padding: 0px;
}   
.menu_main a {
    opacity: 0.88;
    display: block;
    transition: all 0.2s ease-out 0s;
    color: #fff;
    font-family: "PT Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 3px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
    font: 400 15px 'PT Sans', sans-serif;
}
.search-result-panel {
    top: 60px;
    width: auto;
    background-color: white;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    border: 0px solid;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
#results-container li {
    text-align: left;
}
#results-container > li:hover{background: rgba(0,0,0,.15);}
#results-container > li:hover > ul{display: block;}
#results-container > li{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#results-container > li > a {
    border-bottom: 1px solid lightgray;
    line-height: 36px;
    /* height: 36px; */
    display: block;
    color: #222;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
}
    #results-container > li > ul{
        display: none;
        background: #fff;
        position: absolute; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
    }
        #results-container ul ul li{float: none; position: relative;}
        #results-container ul ul li a {
            padding: 15px 30px; 
            border-bottom: 1px solid rgba(0,0,0,.05);
        }
        #results-container ul ul ul {
            position: absolute; 
            left: 100%; 
            top:0;
        }	
#results-container a {
    opacity: 1;
    white-space: nowrap;
    color: #2D2D29;
}
/* Сброс стилей для поля ввода в браузерах webkit */
input {
	outline: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; /* Удаляем иконку поиска и сброса */
}
/* Поле ввода строки поиска */
input[type=search] {
    /* background: #ededed url("/images/search-icon.png") no-repeat 9px center; */
	padding: 9px 10px 9px 37px;
    width: 55px;
    border: 0px solid;
	
	/* -webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em; */
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 260px;
	background-color: #fff;
}

/* Заполнитель */
input[type=search]:-moz-placeholder {
	color: #999;
}
input[type=search]::-webkit-input-placeholder {
	color: #999;
}
.input[type=search]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.input[type=search]::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input[type=search]:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input[type=search]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input[type=search]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.input[type=search]:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input[type=search]:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input[type=search]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


