---
layout: service_direction
make-smaller-titles: true
title: Event&Wedding Group
permalink: /event/
---

<div class="event_content3">

<section class="event_galery">
  <div id="carousel-monte" class="owl-carousel owl-theme">
      <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/event/1_1.jpg)"></div></a>
      <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/event/1_2.jpg)"></div></a>
      <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/event/1_3.jpg)"></div></a>
      <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/event/1_4.JPG)"></div></a>
      <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/event/1_5.jpg)"></div></a>
      <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/event/1_6.jpg)"></div></a>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="devide-block col-md-12 col-sm-12">
      <div class="dir_logo_wedd"> </div> 
    </div>
  </div>
  <div class="container">
    <h1>EVENT МЕРОПРИЯТИЯ ЛЮБОГО УРОВНЯ СЛОЖНОСТИ</h1>
    <div class="about-block col-md-12 col-sm-12">
      <p>
        Полный спектр услуг по подготовке и организации праздничных, корпоративных и бизнес событий премиального уровня в Москве, России и Европе.
      </p>
      <p>
        Мы создадим и проведем для вас эксклюзивное мероприятие "под ключ" или возьмемся за решение ваших задач на любом этапе организации.
        Наша команда профессионалов гарантирует вам успех любого мероприятия благодаря высокому уровню исполнения любых задач и индивидуальному подход к каждому клиенту. 
        Мы сделаем ваше безупречное торжество особенным и незабываемым.
      </p>
    </div>
  </div>
  <div class="container">  
    <h2>ОСНОВНЫЕ НАПРАВЛЕНИЯ</h2> 
    <ul class="event_party">
      <li>Корпоративные мероприятия</li>
      <li>Презентации</li>
      <li>Фэшн события</li>
      <li>Организация выставок</li>
      <li>Юбилеи</li>
    </ul>
    <ul class="event_services about-block col-md-12 col-sm-12">
      <p>
      Пока вы отдыхаете - мы работаем над воплощением ваших самых смелых идей!
      </p>
    </ul>
  </div>
</section>

<section class="">
  <div class="container">
  {% for post in site.posts %}
    {% if forloop.first %}
      <ul class="event_services about-block col-md-12 col-sm-12">
    {% endif %}
    {% if post.direction == 'event' %}
      {% if post.sectype == 'content' %}
        <a class="header-link" href="#pages-and-collections" title="Permalink">
          <span class="sr-only">Permalink</span>
          <i class="fa fa-link"></i>
        </a>
        <li>{{ post.title }}</li>
        {{ post.content }}
      {% elsif post.sectype == 'galery' %}
            </ul>
          </div>
        </section>
        {{ post.content }}
        <section class="">
          <div class="container">
            <ul class="event_services about-block col-md-12 col-sm-12">
      {% endif %}
    {% endif %}
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}


  </div>
</section>
      

<section class="">
  <div class="container">
    <div class="contact-social 	col-xs-12 col-sm-12 	col-md-6 col-md-offset-3 	col-lg-6 col-lg-offset-3 ">
      Все новости и обновления в социальных сетях!
      <br>
      Следуйте за нами:
      <br>								
      <ul class="inline-block-center socials">
        <li><a target="_blank" href="https://www.instagram.com/monte_wedding_and_event/"><i class="fa fa-instagram fa-fw"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/montewande/"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a target="_blank" href="https://youtube.com/channel/UCof4c6MnsQFe8oaHWYZfTVg"><i class="fa fa-youtube fa-fw"></i></a></li>
        <li><a target="_blank" href="https://vk.com/public135781963"><i class="fa fa-vk fa-fw"></i></a></li>
        <li><a target="_blank" href="https://vimeo.com/user59266256"><i class="fa fa-vimeo fa-fw"></i></a></li>
        <!--<li><a target="_blank" href="https://ok.ru/group/53488734240851"><i class="fa fa-odnoklassniki fa-fw"></i></a></li>-->
      </ul>
    <div>
      <hr>
    </div>
    <address class="row">
      <div class="contact-phone col-sm-12 col-md-12">
        <span>+7 (926) 144-24-33</span><br>
        <span>+7 (910) 086-55-55</span>
      </div>
      <div class="contact-mail col-sm-12 col-md-12 ">
        <a href="mailto:montepro@inbox.ru">montepro@inbox.ru</a>
      </div>
    </address>


        </div>
</section>

    </div>

<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-body">
        <div  class="fotorama col-md-12" 
              data-nav="thumbs"  
              data-height="80%"
              data-maxheight="590"
              data-minwidth="320"
              data-maxwidth="1000"
              data-ratio="4/3" 
              data-fit="scaledown"
              data-thumbheight="60">
          <img src="/images/event/1_1.jpg">
          <img src="/images/event/1_2.jpg">
          <img src="/images/event/1_3.jpg">
          <img src="/images/event/1_4.JPG">
          <img src="/images/event/1_5.jpg">
          <img src="/images/event/1_6.jpg">
          <img src="/images/event/2_1.jpg">
          <img src="/images/event/2_2.jpg">
          <img src="/images/event/2_3.jpg">
          <img src="/images/event/2_4.jpg">
          <img src="/images/event/2_5.jpg">
          <img src="/images/event/2_6.jpg">
          <img src="/images/event/3_1.jpg">
          <img src="/images/event/3_2.jpg">
          <img src="/images/event/3_3.jpg">
          <img src="/images/event/3_4.jpg">
          <img src="/images/event/3_5.jpg">
          <img src="/images/event/3_6.jpg">
          <img src="/images/event/4_1.jpg">
          <img src="/images/event/4_2.jpg">
          <img src="/images/event/4_3.jpg">
          <img src="/images/event/4_4.jpg">
          <img src="/images/event/4_5.jpg">
          <img src="/images/event/4_6.jpg">
      </div>
  <button type="button" class="close btn-lg hidden-xs" data-dismiss="modal" aria-hidden="true">×</button>
	<button type="button" class="close-small btn-lg hidden-sm hidden-md hidden-lg" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
</div>

