---
layout: default
title: Карта сайта
permalink: /sitemap/
---

<div class="container-fluid index">

  <div class="row index all-posts">

    <h1 class="header">Карта сайта</h1>

        <ul class="sitemap_area">
        {% assign pages_list = site.pages | sort:"url" %}
        
        {% for node in pages_list %}

          {% if node.title != null %}
            {% if node.layout != 'feed' %}
              <li><a href="{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>

  </div>

</div>

<hr class="search-hr" />

		<address class="contact-social row 	col-xs-12 col-sm-12 	col-md-6 col-md-offset-3 	col-lg-6 col-lg-offset-3 ">
			<div class="contact-adress col-sm-12 col-md-12">
				The Monte Production<br>
				127238, г. Москва<br>
				3-й Нижнелихоборский проезд, 3<br>
			</div>
			<div class="contact-phone col-sm-12 col-md-12">
				<span>+7 (926) 144-24-33</span><br>
				<span>+7 (910) 086-55-55</span>
			</div>
			<div class="contact-mail col-sm-12 col-md-12 ">
				<a href="mailto:montepro@inbox.ru">montepro@inbox.ru</a>
			</div>
		</address>				
    
