---
layout: service_direction
make-smaller-titles: true
title: Production Group
permalink: /video_production/
---

<section class="prod_galery">
            <div id="carousel-monte" class="owl-carousel owl-theme">
                <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/prod/1_1.jpg)"></div></a>
                <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/prod/1_2.jpg)"></div></a>
                <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/prod/1_3.jpg)"></div></a>
                <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/prod/1_4.jpg)"></div></a>
                <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/prod/1_5.jpg)"></div></a>
                <a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/prod/1_6.jpg)"></div></a>
            </div>
</section>

<section class="prod_content">
  <div class="container">
    <div class="devide-block col-md-12 col-sm-12">
      <div class="dir_logo_prod"> </div>
    </div>
  </div>
  <div class="container">
    <h1>ПОЛНЫЙ ЦИКЛ ВИДЕОПРОИЗВОДСТВА</h1>
    <div class="about-block col-md-12 col-sm-12">
      <p>
      <b>Monte Media Group</b> – Мы готовы охватить все этапы производственного процесса. 
      Все виды услуг в области видеопроизводства и мультипликации на любой стадии. 
      Современные технологии инструменты съемки.
      </p>
    </div>
  </div>
  <div class="container">  
            <h2>ОСНОВНЫЕ ЭТАПЫ РАБОТЫ</h2> 
    <ul class="prod_play">
      <li>Подготовительный период (пре-продакшн)
      <p>Разработка идеи и сценарного плана, создание сценария и раскадровки, 
      поиск локаций, кастинг актеров, изготовление декораций и реквизита, 
      получение разрешений, составление съемочного графика, планирование и бюджет.
      </p>	</li>
      <li>Производственный период (продакшн)
      <p>Организация и проведение съемки с земли и воздуха, натурные и студийные, 
      в том числе в павильонах или в виртуальной студии. Реконструкции, документальное 
      видео, художественное кино. 
      </p>	</li>
      <li>Монтажный период (пост-продакшн) 
      <p>Загон и отсмотр материалов, сортировка и расшифровка интервью.
        Монтаж видеоряда. Создание титров, заставок. Разработка графики, анимации и 
        мультипликации. Запись закадрового голоса и синхронных шумов. Подбор и создание 
        оригинального музыкального сопровождения. Цветокоррекция. Мультиформатные перегоны.
      </p>	</li>
    </ul>
  </div>
</section>	

<section class="prod_content">
  <div class="container">
  {% for post in site.posts %}
    {% if forloop.first %}
      <ul class="prod_services about-block col-md-12 col-sm-12">
    {% endif %}
    {% if post.direction == 'production' %}
      {% if post.sectype == 'content' %}
        <li>{{ post.title }}</li>
        {{ post.content }}
      {% elsif post.sectype == 'galery' %}
            </ul>
          </div>
        </section>
        {{ post.content }}
        <section class="prod_content">
          <div class="container">
            <ul class="prod_services about-block col-md-12 col-sm-12">
      {% endif %}
    {% endif %}
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}


  </div>
</section>

<section class="prod_content">
  <div class="container">
    <div class="contact-social col-xs-12 col-sm-12 	col-md-6 col-md-offset-3 	col-lg-6 col-lg-offset-3 ">
        Все новости и обновления в социальных сетях!
        <br>
        Следуйте за нами:
        <br>								
					<ul class="inline-block-center socials">
						<li><a target="_blank" href="https://www.instagram.com/Monte_Media/"><i class="fa fa-instagram fa-fw"></i></a></li>
						<li><a target="_blank" href="https://www.facebook.com/Monte-Production-556871954503012/"><i class="fa fa-facebook fa-fw"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/channel/UCARyy9jOJVld4TvSmm4VlFA"><i class="fa fa-youtube fa-fw"></i></a></li>
						<li><a target="_blank" href="https://vk.com/public135783313"><i class="fa fa-vk fa-fw"></i></a></li>
						<li><a target="_blank" href="https://vimeo.com/user59265526"><i class="fa fa-vimeo fa-fw"></i></a></li>
						<!--<li><a target="_blank" href="https://ok.ru/group/53492774076499"><i class="fa fa-odnoklassniki fa-fw"></i></a></li>-->
					</ul>
      <div>
          <hr>
      </div>
      <address class="row">
        <div class="contact-phone col-sm-12 col-md-12">
          <span>+7 (926) 144-24-33</span><br>
          <span>+7 (910) 086-55-55</span>
        </div>
        <div class="contact-mail col-sm-12 col-md-12 ">
          <a href="mailto:montepro@inbox.ru">montepro@inbox.ru</a>
        </div>
      </address>
    </div>
  </div>
</section>

<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-body">
      <div class="row">
        <div  class="fotorama col-md-12" 
              data-nav="thumbs"  
              data-height="80%"
              data-maxheight="590"
              data-minwidth="320"
              data-maxwidth="1000"
              data-ratio="4/3" 
              data-fit="scaledown"
              data-thumbheight="60">
        <img src="/images/prod/1_1.jpg">
        <img src="/images/prod/1_2.jpg">
        <img src="/images/prod/1_3.jpg">
        <img src="/images/prod/1_4.jpg">
        <img src="/images/prod/1_5.jpg">
        <img src="/images/prod/1_6.jpg">
        <img src="/images/prod/2_1.jpg">
        <img src="/images/prod/2_2.jpg">
        <img src="/images/prod/2_3.jpg">
        <img src="/images/prod/2_4.jpg">
        <img src="/images/prod/2_5.jpg">
        <img src="/images/prod/2_6.jpg">
        <img src="/images/prod/3_1.jpg">
        <img src="/images/prod/3_2.jpg">
        <img src="/images/prod/3_3.jpg">
        <img src="/images/prod/3_4.jpg">
        <img src="/images/prod/3_5.jpg">
        <img src="/images/prod/3_6.jpg">
        <img src="/images/prod/4_1.jpg">
        <img src="/images/prod/4_2.jpg">
        <img src="/images/prod/4_3.jpg">
        <img src="/images/prod/4_4.jpg">
        <img src="/images/prod/4_5.jpg">
        <img src="/images/prod/4_6.jpg">
      </div>
    </div>
  <button type="button" class="close btn-lg hidden-xs" data-dismiss="modal" aria-hidden="true">×</button>
	<button type="button" class="close-small btn-lg hidden-sm hidden-md hidden-lg" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
</div>
