---
layout: service_direction
make-smaller-titles: true
title: Production Group
permalink: /video/
---


<section class="prod_content">
  <div class="container">
    <div class="devide-block col-md-12 col-sm-12">
      <div class="dir_logo_prod"> </div>
    </div>
  </div>
  <div class="container">
    <h1 class="header" itemprop="headline">ПОЛНЫЙ ЦИКЛ ВИДЕОПРОИЗВОДСТВА</h1>
    <div class="about-block col-md-12 col-sm-12">
      <p>
      <b>Monte Media Group</b> – Мы готовы охватить все этапы производственного процесса. 
      Все виды услуг в области видеопроизводства и мультипликации на любой стадии. 
      Современные технологии инструменты съемки.
      </p>
    </div>
  </div>
  <div class="container">  
            <h2>ОСНОВНЫЕ ЭТАПЫ РАБОТЫ</h2> 
    <ul class="prod_play">
      <li>Подготовительный период (пре-продакшн)
      <p>Разработка идеи и сценарного плана, создание сценария и раскадровки, 
      поиск локаций, кастинг актеров, изготовление декораций и реквизита, 
      получение разрешений, составление съемочного графика, планирование и бюджет.
      </p>	</li>
      <li>Производственный период (продакшн)
      <p>Организация и проведение съемки с земли и воздуха, натурные и студийные, 
      в том числе в павильонах или в виртуальной студии. Реконструкции, документальное 
      видео, художественное кино. 
      </p>	</li>
      <li>Монтажный период (пост-продакшн) 
      <p>Загон и отсмотр материалов, сортировка и расшифровка интервью.
        Монтаж видеоряда. Создание титров, заставок. Разработка графики, анимации и 
        мультипликации. Запись закадрового голоса и синхронных шумов. Подбор и создание 
        оригинального музыкального сопровождения. Цветокоррекция. Мультиформатные перегоны.
      </p>	</li>
    </ul>
  </div>
</section>	

<section class="prod_content">
  <div class="container">
  {% for post in site.posts %}
    {% if forloop.first %}
      <ul class="prod_services about-block col-md-12 col-sm-12">
    {% endif %}
    {% if post.direction == 'production' %}
      {% if post.sectype == 'content' %}
        <li>{{ post.title }}</li>
        {{ post.content }}
      {% elsif post.sectype == 'galery' %}
            </ul>
          </div>
        </section>
        {{ post.content }}
        <section class="prod_content">
          <div class="container">
            <ul class="prod_services about-block col-md-12 col-sm-12">
      {% endif %}
    {% endif %}
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}


  </div>
</section>

<section class="prod_content">
  <div class="container">
    <div class="contact-social col-xs-12 col-sm-12 	col-md-6 col-md-offset-3 	col-lg-6 col-lg-offset-3 ">
        Все новости и обновления в социальных сетях!
        <br>
        Следуйте за нами:
        <br>								
					<ul class="inline-block-center socials">
						<li><a target="_blank" href="https://www.instagram.com/Monte_Media/"><i class="fa fa-instagram fa-fw"></i></a></li>
						<li><a target="_blank" href="https://www.facebook.com/Monte-Production-556871954503012/"><i class="fa fa-facebook fa-fw"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/channel/UCARyy9jOJVld4TvSmm4VlFA"><i class="fa fa-youtube fa-fw"></i></a></li>
						<li><a target="_blank" href="https://vk.com/public135783313"><i class="fa fa-vk fa-fw"></i></a></li>
						<li><a target="_blank" href="https://vimeo.com/user59265526"><i class="fa fa-vimeo fa-fw"></i></a></li>
						<!--<li><a target="_blank" href="https://ok.ru/group/53492774076499"><i class="fa fa-odnoklassniki fa-fw"></i></a></li>-->
					</ul>
      <div>
          <hr>
      </div>
      <address class="row">

        {% include address.html %}
      </address>
    </div>
  </div>
</section>


