---
layout: service_direction
make-smaller-titles: true
title: Wedding&Event Group
permalink: /wedding/
---


<section class="wedd_galery">
	<div id="carousel-monte" class="pswipe-galery owl-carousel owl-theme" itemscope itemtype="http://schema.org/ImageGallery" > 
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			<a href="../images/wedd/1_1.jpg" class="item" itemprop="contentUrl" data-size="450x515">
				<img class="img_inline" src="../images/wedd/1_1.jpg" itemprop="thumbnail" alt="Image description" />
			</a>
		</figure>
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			<a href="../images/wedd/1_2.jpg" class="item" itemprop="contentUrl" data-size="450x515">
				<img class="img_inline" src="../images/wedd/1_2.jpg" itemprop="thumbnail" alt="Image description" />
			</a>
		</figure>
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			<a href="../images/wedd/1_3.jpg" class="item" itemprop="contentUrl" data-size="450x515">
				<img class="img_inline" src="../images/wedd/1_3.jpg" itemprop="thumbnail" alt="Image description" />
			</a>
		</figure>
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			<a href="../images/wedd/1_4.jpg" class="item" itemprop="contentUrl" data-size="450x515">
				<img class="img_inline" src="../images/wedd/1_4.jpg" itemprop="thumbnail" alt="Image description" />
			</a>
		</figure>
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			<a href="../images/wedd/1_5.jpg" class="item" itemprop="contentUrl" data-size="450x515">
				<img class="img_inline" src="../images/wedd/1_5.jpg" itemprop="thumbnail" alt="Image description" />
			</a>
		</figure>
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			<a href="../images/wedd/1_6.jpg" class="item" itemprop="contentUrl" data-size="450x515">
				<img class="img_inline" src="../images/wedd/1_6.jpg" itemprop="thumbnail" alt="Image description" />
			</a>
		</figure>
	</div>
</section>


<section class="wedd_content">
	<div class="container">
		<div class="devide-block col-md-12 col-sm-12">
			<div class="dir_logo_wedd"> </div>
		</div>
	</div>
	<div class="container">
		<h1 class="header" itemprop="headline">ОРГАНИЗАЦИЯ ЭКСКЛЮЗИВНЫХ СВАДЕБ</h1>
		<div class="about-block col-md-12 col-sm-12">
			<p >
			<b>Monte Wedding Group</b> — свадебное агентство премиум уровня для самых избирательных клиентов, требующих особого индивидуального похода. 
			</p>
			<p>Свадьба - одно из самых ярких событий в жизни влюбленных. Этот день должен быть идеальным, ярким и волнующим. <b>MWG</b> поможет сделать его именно таким. Наши сценаристы, декораторы, технические специалисты ежедневно совершенствуют свои навыки, чтобы оградить вас от забот и любых хлопот, связанных с бракосочетанием. Наше агентство  предлагает полный спектр услуг от идеи до ее реализации. Какими смелыми не были бы ваши пожелания наша команда воплотит их в жизнь.
			</p>
		</div>
	</div>
	<div class="container">
		<div class="devide-block col-md-12 col-sm-12">
			<div class="dir_logo_wedd"> </div>
		</div>
	</div>
	<div class="container">  
		<div class="about-block col-md-12 col-sm-12">
			<h2>ОСНОВНЫЕ НАПРАВЛЕНИЯ</h2> 
			<ul class="wedd_heart">
				<li>Свадьба «под ключ» по индивидуальному сценарию</li>
				<li>Выездная регистрация брака</li>
				<li>Свадебная церемония за границей </li>
				<li>Церемония венчания, в том числе в Европе</li>
				<li>Организация мальчишника, девичника и медового месяца</li>
			</ul>
		</div>
		<ul class="wedd_services about-block col-md-12 col-sm-12">
		<hr class="style-wedd">
			<p>
				Современный подход, нестандартные решения, свежий взгляд на происходящее 
				являеются неотъемлемыми качествами нашей профессиональной команды Monte Wedding Group.
				Мы возьмем на себя все заботы, связанные с подготовкой одного из самых ярких событий в вашей жизни:
			</p>
    	</ul>
  	</div>
</section>

<section class="wedd_content">
  <div class="container">
  {% for post in site.posts %}
	{% if forloop.first %}
	<ul class="wedd_services about-block col-md-12 col-sm-12">
	{% endif %}
    {% if post.direction == 'wedd' %}
      {% if post.sectype == 'content' %}
        <li>{{ post.title }}</li>
        {{ post.content }}
      {% elsif post.sectype == 'galery' %}
            </ul>
          </div>
        </section>
        {{ post.content }}
        <section class="wedd_content">
          <div class="container">
            <ul class="wedd_services about-block col-md-12 col-sm-12">
      {% endif %}
	{% endif %}
	{% if forloop.last %}
	</ul>
	{% endif %}
  {% endfor %}


  </div>
</section>
      

<section class="wedd_content">
  <div class="container">
	<div class="contact-social	col-xs-12 col-sm-12 	col-md-6 col-md-offset-3 	col-lg-6 col-lg-offset-3">
		Все новости и обновления в социальных сетях!
		<br>
		Следуйте за нами:
		<br>								
			<ul class="inline-block-center socials">
				<li><a target="_blank" href="https://www.instagram.com/monte_wedding_and_event/"><i class="fa fa-instagram fa-fw"></i></a></li>
				<li><a target="_blank" href="https://www.facebook.com/montewande"><i class="fa fa-facebook fa-fw"></i></a></li>
				<li><a target="_blank" href="https://youtube.com/channel/UCQfORVHVVwSNd8PR-NVqDqA"><i class="fa fa-youtube fa-fw"></i></a></li>
				<li><a target="_blank" href="https://vk.com/public135781963"><i class="fa fa-vk fa-fw"></i></a></li>
				<li><a target="_blank" href="https://­vimeo.com/user59264661"><i class="fa fa-vimeo fa-fw"></i></a></li>
				<!--<li><a target="_blank" href="https://ok.ru/group/53489996922963"><i class="fa fa-odnoklassniki fa-fw"></i></a></li>-->
			</ul>
		<div>
			<hr>
		</div>
		<address class="row">

			{% include address.html %}
		</address>
	</div>
</div>
</section>

