---
layout: service_direction
make-smaller-titles: true
title: Wedding&Event Group
permalink: /wedding/
---


<section class="wedd_galery">
		<div id="carousel-monte" class="owl-carousel owl-theme">
			<a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/wedd/1_1.jpg)"></div></a>
			<a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/wedd/1_2.jpg)"></div></a>
			<a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/wedd/1_3.jpg)"></div></a>
			<a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/wedd/1_4.jpg)"></div></a>
			<a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/wedd/1_5.jpg)"></div></a>
			<a data-toggle="modal" href="#responsive" class="item"><div class="img_inline" style="background-image: url(../images/wedd/1_6.jpg)"></div></a>
		</div>
</section>

<section class="wedd_content">
	<div class="container">
		<div class="devide-block col-md-12 col-sm-12">
			<div class="dir_logo_wedd"> </div>
		</div>
	</div>
	<div class="container">
		<h1 class="header" itemprop="headline">ОРГАНИЗАЦИЯ ЭКСКЛЮЗИВНЫХ СВАДЕБ</h1>
		<div class="about-block col-md-12 col-sm-12">
			<p >
			<b>Monte Wedding Group</b> — свадебное агентство премиум уровня для самых избирательных клиентов, требующих особого индивидуального похода. 
			</p>
			<p>Свадьба - одно из самых ярких событий в жизни влюбленных. Этот день должен быть идеальным, ярким и волнующим. <b>MWG</b> поможет сделать его именно таким. Наши сценаристы, декораторы, технические специалисты ежедневно совершенствуют свои навыки, чтобы оградить вас от забот и любых хлопот, связанных с бракосочетанием. Наше агентство  предлагает полный спектр услуг от идеи до ее реализации. Какими смелыми не были бы ваши пожелания наша команда воплотит их в жизнь.
			</p>
		</div>
	</div>
	<div class="container">
		<div class="devide-block col-md-12 col-sm-12">
			<div class="dir_logo_wedd"> </div>
		</div>
	</div>
	<div class="container">  
		<div class="about-block col-md-12 col-sm-12">
			<h2>ОСНОВНЫЕ НАПРАВЛЕНИЯ</h2> 
			<ul class="wedd_heart">
				<li>Свадьба «под ключ» по индивидуальному сценарию</li>
				<li>Выездная регистрация брака</li>
				<li>Свадебная церемония за границей </li>
				<li>Церемония венчания, в том числе в Европе</li>
				<li>Организация мальчишника, девичника и медового месяца</li>
			</ul>
		</div>
		<ul class="wedd_services about-block col-md-12 col-sm-12">
		<hr class="style-wedd">
			<p>
				Современный подход, нестандартные решения, свежий взгляд на происходящее 
				являеются неотъемлемыми качествами нашей профессиональной команды Monte Wedding Group.
				Мы возьмем на себя все заботы, связанные с подготовкой одного из самых ярких событий в вашей жизни:
			</p>
    	</ul>
  	</div>
</section>

<section class="wedd_content">
  <div class="container">
  {% for post in site.posts %}
	{% if forloop.first %}
	<ul class="wedd_services about-block col-md-12 col-sm-12">
	{% endif %}
    {% if post.direction == 'wedd' %}
      {% if post.sectype == 'content' %}
        <li>{{ post.title }}</li>
        {{ post.content }}
      {% elsif post.sectype == 'galery' %}
            </ul>
          </div>
        </section>
        {{ post.content }}
        <section class="wedd_content">
          <div class="container">
            <ul class="wedd_services about-block col-md-12 col-sm-12">
      {% endif %}
	{% endif %}
	{% if forloop.last %}
	</ul>
	{% endif %}
  {% endfor %}


  </div>
</section>
      

<section class="wedd_content">
  <div class="container">
	<div class="contact-social	col-xs-12 col-sm-12 	col-md-6 col-md-offset-3 	col-lg-6 col-lg-offset-3">
		Все новости и обновления в социальных сетях!
		<br>
		Следуйте за нами:
		<br>								
			<ul class="inline-block-center socials">
				<li><a target="_blank" href="https://www.instagram.com/monte_wedding_and_event/"><i class="fa fa-instagram fa-fw"></i></a></li>
				<li><a target="_blank" href="https://www.facebook.com/montewande"><i class="fa fa-facebook fa-fw"></i></a></li>
				<li><a target="_blank" href="https://youtube.com/channel/UCQfORVHVVwSNd8PR-NVqDqA"><i class="fa fa-youtube fa-fw"></i></a></li>
				<li><a target="_blank" href="https://vk.com/public135781963"><i class="fa fa-vk fa-fw"></i></a></li>
				<li><a target="_blank" href="https://­vimeo.com/user59264661"><i class="fa fa-vimeo fa-fw"></i></a></li>
				<!--<li><a target="_blank" href="https://ok.ru/group/53489996922963"><i class="fa fa-odnoklassniki fa-fw"></i></a></li>-->
			</ul>
		<div>
			<hr>
		</div>
		<address class="row">
			<div class="contact-phone col-sm-12 col-md-12">
				<span>+7 (926) 144-24-33</span><br>
				<span>+7 (910) 086-55-55</span>
			</div>
			<div class="contact-mail col-sm-12 col-md-12">
				<a href="mailto:montepro@inbox.ru">montepro@inbox.ru</a>
			</div>
		</address>
	</div>
</div>
</section>

<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-body">
      <div class="row">
        <div  class="fotorama col-md-12" 
              data-nav="thumbs"  
              data-height="80%"
              data-maxheight="590"
              data-minwidth="320"
              data-maxwidth="1000"
              data-ratio="4/3" 
              data-fit="scaledown"
              data-thumbheight="60">
		<img src="/images/wedd/1_1.JPG">
		<img src="/images/wedd/1_2.JPG">
		<img src="/images/wedd/1_3.jpg">
		<img src="/images/wedd/1_4.JPG">
		<img src="/images/wedd/1_5.JPG">
		<img src="/images/wedd/1_6.jpg">
		<img src="/images/wedd/2_1.jpg" data-caption="Средневековый комплекс">
		<img src="/images/wedd/2_2.jpg" data-caption="Яхт-клуб">
		<img src="/images/wedd/2_3.jpg" data-caption="Шато, шале">
		<img src="/images/wedd/2_4.jpg" data-caption="Шатер">
		<img src="/images/wedd/2_5.jpg" data-caption="Ресторанно-банкетный комплекс">
		<img src="/images/wedd/2_6.jpg" data-caption="Спа-отель">
		<img src="/images/wedd/3_1.jpg" data-caption="Мясной сет">
		<img src="/images/wedd/3_2.jpg" data-caption="Европейская кухня">
		<img src="/images/wedd/3_3.jpg" data-caption="Малекулярная кухня">
		<img src="/images/wedd/3_4.jpg" data-caption="Вегетарианский сет">
		<img src="/images/wedd/3_5.jpg" data-caption="Рыбный сет">
		<img src="/images/wedd/3_6.jpg" data-caption="Азиатская кухня">
		<img src="/images/wedd/4_1.jpg">
		<img src="/images/wedd/4_2.png">
		<img src="/images/wedd/4_3.jpg">
		<img src="/images/wedd/4_4.jpg">
		<img src="/images/wedd/4_5.jpg">
		<img src="/images/wedd/4_6.jpg">
		<img src="/images/wedd/5_1.jpg">
		<img src="/images/wedd/5_2.jpg">
		<img src="/images/wedd/5_3.jpg">
		<img src="/images/wedd/5_4.jpg">
		<img src="/images/wedd/5_5.jpg">
		<img src="/images/wedd/5_6.jpg">
		<img src="/images/wedd/6_1.jpg" data-caption="Воздушные шары">
		<img src="/images/wedd/6_2.jpg" data-caption="Фитодизайн">
		<img src="/images/wedd/6_3.JPG" data-caption="Ротонда">
		<img src="/images/wedd/6_4.JPG" data-caption="Прессвол">
		<img src="/images/wedd/6_5.JPG" data-caption="Флористика">
		<img src="/images/wedd/6_6.jpg" data-caption="Светящиеся буквы">
		<img src="/images/wedd/7_1.JPG">
		<img src="/images/wedd/7_2.jpg">
		<img src="/images/wedd/7_3.jpg">
		<img src="/images/wedd/7_4.JPG">
		<img src="/images/wedd/7_5.jpg">
		<img src="/images/wedd/7_6.JPG">
		<img src="/images/wedd/8_1.JPG">
		<img src="/images/wedd/8_2.JPG">
		<img src="/images/wedd/8_3.jpg">
		<img src="/images/wedd/8_4.jpg">
		<img src="/images/wedd/8_5.JPG">
		<img src="/images/wedd/8_6.jpg">
		<img src="/images/wedd/9_1.jpg">
		<img src="/images/wedd/9_2.jpg">
		<img src="/images/wedd/9_3.jpg">
		<img src="/images/wedd/9_4.jpg">
		<img src="/images/wedd/9_5.jpg">
		<img src="/images/wedd/9_6.jpg">
		<img src="/images/wedd/10_1.jpg">
		<img src="/images/wedd/10_2.jpg">
		<img src="/images/wedd/10_3.jpg">
		<img src="/images/wedd/10_4.JPG">
		<img src="/images/wedd/10_5.jpg">
		<img src="/images/wedd/10_6.jpg">
		<img src="/images/wedd/11_1.jpg">
		<img src="/images/wedd/11_2.JPG">
		<img src="/images/wedd/11_3.jpg">
		<img src="/images/wedd/11_4.JPG">
		<img src="/images/wedd/11_5.jpg">
		<img src="/images/wedd/11_6.jpg">
		<img src="/images/wedd/12_1.JPG">
		<img src="/images/wedd/12_2.JPG">
		<img src="/images/wedd/12_3.jpg">
		<img src="/images/wedd/12_4.JPG">
		<img src="/images/wedd/12_5.jpg">
		<img src="/images/wedd/12_6.jpg">
		<img src="/images/wedd/13_1.JPG">
		<img src="/images/wedd/13_2.JPG">
		<img src="/images/wedd/13_3.JPG">
		<img src="/images/wedd/13_4.JPG">
		<img src="/images/wedd/13_5.JPG">
		<img src="/images/wedd/13_6.JPG">
		<img src="/images/wedd/14_1.JPG">
		<img src="/images/wedd/14_2.jpg">
		<img src="/images/wedd/14_3.JPG">
		<img src="/images/wedd/14_4.JPG">
		<img src="/images/wedd/14_5.JPG">
		<img src="/images/wedd/14_6.JPG">
		<img src="/images/wedd/15_1.JPG">
		<img src="/images/wedd/15_2.JPG">
		<img src="/images/wedd/15_3.JPG">
		<img src="/images/wedd/15_4.jpg">
		<img src="/images/wedd/15_5.JPG">
		<img src="/images/wedd/15_6.jpg">
		<img src="/images/wedd/16_1.jpg">
		<img src="/images/wedd/16_2.jpg">
		<img src="/images/wedd/16_3.jpg">
		<img src="/images/wedd/16_4.jpg">
		<img src="/images/wedd/16_5.JPG">
		<img src="/images/wedd/16_6.jpg">
		<img src="/images/wedd/17_1.jpg">
		<img src="/images/wedd/17_2.jpg">
		<img src="/images/wedd/17_3.jpg">
		<img src="/images/wedd/17_4.JPG">
		<img src="/images/wedd/17_5.jpg">
		<img src="/images/wedd/17_6.jpg">
		<img src="/images/wedd/19_1.jpg">
		<img src="/images/wedd/19_2.jpg">
		<img src="/images/wedd/19_3.jpg">
		<img src="/images/wedd/19_4.jpg">
		<img src="/images/wedd/19_5.jpg">
		<img src="/images/wedd/19_6.jpg">
		<img src="/images/wedd/20_1.png">
		<img src="/images/wedd/20_2.jpg">
		<img src="/images/wedd/20_3.jpg">
		<img src="/images/wedd/20_4.jpg">
		<img src="/images/wedd/20_5.jpeg">
		<img src="/images/wedd/20_6.jpg">
      </div>
    </div>
	<button type="button" class="close btn-lg hidden-xs" data-dismiss="modal" aria-hidden="true">×</button>
	<button type="button" class="close-small btn-lg hidden-sm hidden-md hidden-lg" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
</div>
