<!--<div id="depreload-560 hidden-sm-down" style="background-color: black;" class="table">
    <div class="table-cell wrapper">
        <div class="circle">
            <canvas class="line" width="560px" height="560px">
            </canvas>
            <p class="loading">Загрузка</p>
            <p class="perc"></p>
        </div>
    </div>
</div>

<div id="depreload-280 hidden-md-up" style="background-color: black;" class="table">
    <div class="table-cell wrapper">
        <div class="circle">
            <canvas class="line" width="280px" height="280px">
            </canvas>
            <p class="loading">Загрузка</p>
            <p class="perc"></p>
        </div>
    </div>
</div>-->

<div id="depreload" style="background-color: black;" class="table">
    <div class="table-cell wrapper">
        <div class="circle">
            <canvas class="line" width="560px" height="560px">
            </canvas>
            <p class="loading">Загрузка</p>
            <p class="perc"></p>
        </div>
    </div>
</div>