<footer class="clearfix">
  <div class="container">
    <ul class="bot_links">
      <li ><a href="{{ site.baseurl }}/confidencial/">Стоимость услуг / Политика конфиденциальности</a></li>
    </ul>
  </div>
  <div class="container">
    <p class="">
      Все фото и видео материалы принадлежат <span class="font-fantasy">&#169</span> Monte Production, {{ site.time | date: '%Y' }} 
      и могут быть использованы только для демонстрационных целей.
      <br>
    </p>
  </div>
  <div class="container">
    <div class="klimov col-md-6">
      {{ site.footer_left }}
    </div>
    <div class="klimov col-md-6">
      {{ site.footer_right }}
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.js"></script>
<script src="{{ site.baseurl }}/js/fotorama.js"></script>
<script src="{{ site.baseurl }}/js/jquery.DEPreLoad.js"></script>

<script src="{{ site.baseurl }}/js/common.js"></script>

<script src="{{ site.baseurl }}/js/jquery.mmenu.min.all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% if page.make-smaller-titles %}
<script type="text/javascript">

  function setFontSize() {

    var title, dateOfTitle, fontSizeOfTitle, listOfA, listOfSmall, listOfArticlesDiv, divWidth;

    listOfArticlesDiv = document.getElementsByClassName("articles");

    for (i = 0; i < listOfArticlesDiv.length; i++) {

      listOfA = document.getElementsByClassName("articles")[i].getElementsByTagName("a");
      listOfSmall = document.getElementsByClassName("articles")[i].getElementsByTagName("small");

      divWidth = document.getElementsByClassName("articles")[i].offsetWidth;

      for (k = 0; k < listOfSmall.length; k++) {

        title = $(listOfA[k]);
        dateOfTitle = $(listOfSmall[k]);

        fontSizeOfTitle = startingFontSize;
        title.css("font-size", fontSizeOfTitle);

        while (title.width() + dateOfTitle.width() >= divWidth)
          title.css("font-size", fontSizeOfTitle -= 0.5);

      }
    }
  }

  function getStartFontSize() {
    try {
      startingFontSize = parseInt($(document.getElementsByClassName("articles")[0].getElementsByTagName("a")[0]).css("font-size"));
      setFontSize();
      window.addEventListener('resize', setFontSize, true);
    } catch (e) {}
  }

  $(document).ready(getStartFontSize);

</script>
{% endif %}

{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
          _gaq.push(['_trackPageview']);
  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
