<header>
  <div class="container">
    <nav class="menu_main">
      <div class="dir_logo_prod hidden-xs hidden-sm"> </div>
      <div class="hidden-xs  	hidden-sm 	col-md-12 					col-lg-12  					fix-top" >&nbsp;</div>
      <a class=" 	col-xs-12 	col-sm-12 	col-md-2    col-md-offset-2 col-lg-2 col-lg-offset-1 	" href="{{ site.baseurl }}/about/">О Нас</a>
      <div class=" 	col-xs-12 	col-sm-12 	col-md-4					col-lg-6 					logo"   >
        {% if page.layout != 'mainpage' %}
        <a href="{{ site.url }}">
        {% endif %}
          <img src="{{ site.baseurl }}/images/Monte_LOGO_WHITE.svg" class=""  style="width: 275px;" alt="{{ site.title }}">
        {% if page.layout != 'mainpage' %}
        </a>
        {% endif %}
      </div>
      <a class=" 	col-xs-12 	col-sm-12 	col-md-2 					col-lg-2" href="{{ site.baseurl }}/contacts/">Контакты</a>
      <div class="dir_logo_wedd hidden-xs hidden-sm"> </div>
    </nav>
  </div>
</header>
