<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
<!--
      <div id="depreload" style="background-image:url('demo/bgr.jpg');" class="table">
          <div class="table-cell wrapper">
              <div class="circle">
                  <canvas class="line" width="560px" height="560px"></canvas>
                  <img src="demo/logo.png" class="logo" alt="logo" />
              </div>
              <p class="perc"></p>
              <p class="loading">Загрузка</p>
          </div>
      </div>-->

    {% include sidebar.html %}

    <div class="wrap">

        {% include header.html %}
            
        {{ content }}	

        {% include footer.html %}

    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    </body>
</html>
