<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div id="depreload" style="background-image:url('demo/bgr.jpg');" class="table">
            <div class="table-cell wrapper">
                <div class="circle">
                    <canvas class="line" width="65vh" height="65vh"></canvas>
                    <img src="demo/logo.png" class="logo" alt="logo" />
                </div>
                <p class="perc"></p>
                <p class="loading">Загрузка</p>
            </div>
        </div>
        
        <div class="gallery">
            <img src="demo/stock/image1.jpg">
            <img src="demo/stock/image2.jpg">
            <img src="demo/stock/image3.jpg">
            <img src="demo/stock/image4.jpg">
            <img src="demo/stock/image5.jpg">
            <img src="demo/stock/image6.jpg">
            <img src="demo/stock/image7.jpg">
        </div>

        <label id="preload-close"></label>

    {% include sidebar.html %}

    <div class="wrap">

        {% include header.html %}
            
        {{ content }}	

        {% include footer.html %}

    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    </body>
</html>
