
@font-face {
  font-family: 'PTSans-Narrow';
  src: url('PTSans-Narrow.eot?#iefix') format('embedded-opentype'),  url('PTSans-Narrow.woff') format('woff'), url('PTSans-Narrow.ttf')  format('truetype'), url('PTSans-Narrow.svg#PTSans-Narrow') format('svg');
  font-weight: normal;
  font-style: normal;
}
